 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Nunito', sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* MARGIN AND PADDING*/
.margin-left16 {
    margin-left: 16px;
}
.margin-btm24 {
    margin-bottom: 24px;
}
.margin-btm32 {
    margin-bottom: 32px;
}
.margin-btm40 {
    margin-bottom: 40px;
}
.margin-btm64 {
    margin-bottom: 64px;
}
.margin-top40 {
    margin-top: 40px;
}

/* backgrond, area size*/
.container-navlog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.container100 {
    width: 100%;
}
.container70 {
    width: 70%;
    margin: 0 auto;
}
.container60 {
    width: 60%;
    margin: 0 auto;
}
.w-50 {
    width: 50%;
}

/* hierarchy fonts */
h1 {
    font-size: 47px;
    font-weight: 800;
    color: #33475B;
} 
h2 {
    font-size: 30px;
    font-weight: 800;
    color: #33475B;
}
h3 {
    font-size: 29px;
    font-weight: 800;
    color: #33475B;
}
h4 {
    font-size: 23px;
    font-weight: 800;
    color: #33475B;
}
h5 {
    font-size: 22px;
    font-weight: 800;
    color: #33475B;
}
h6 {
    font-size: 17px;
    font-weight: 800;
    color: #33475B;
    text-transform: uppercase;
}
p {
    font-size: 15px;
    color: #33475B;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: unset;
}
.nav-link {
    font-size: 14px;
    color: #33475B;
    height: 80px; /*debug*/
}
.small-txt {
    color: #fff;
    font-size: 12px ;
}
.txt-white {
    color: #fff;
}
.txt-orange {
    color: #FE775A ;
}
.txt-gray {
    color: #33475B;
}
.txt-center {
    text-align: center;
}
strong {
    font-weight: 800;
}

/*backgrounds colors*/
.bg-gray {
    background-color: #F4F9FD;
}
.bg-green {
    background-color: #AFEBE4;
}
.bg-footer {
    padding: 24px 0 32px;
    background-color: #32495B;
}
.search-icon {
    color: #00A4BD;
    margin-right: 24px;
}

/* buttons common*/
 .btn-small {
     padding: 8px;
     border-radius: 5px;
 }
 .big-arial {
    font-size: 44px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
 }
 .small-arial {
    font-size: 37px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
 }
 .btn-white {
     color: #FE775A;
     background-color: #fff;
     border: 1px solid #FE775A;
 }
 .btn-orange {
     color: #fff;
     background-color: #FE775A;
 }
 .btn-gray {
     color: #33475B;
     background-color: #DADEE0;
 }
 .btn-big {
     padding: 16px 36px ;
     border-radius: 5px;
 }
 a.btn-big.btn-orange { 
    display: inline-block;
    font-size: 13px;
}

/*START*/
#nav-log-border {
    border-bottom: 1px solid #95A2AD;
}
.lang-contact {
    line-height: 80px;
}
.eng-contact {
    margin-left: 4px;
    display: inline-block;
}
.chev-bord {
    margin: 0 12px 0 4px;
    padding-right: 16px;
    border-right: 1px solid #95A2AD;
    color: #33475B;
}
/*top buttons*/
.top-buttons {
     padding: 20px 0;
}
.btn-log {
    margin-right: 24px;
    display: inline-block; 
}
.btn-hubfree {
    display: inline-block;
}
.nav-link  {
    margin-top: 80px;
    padding: 24px 0;
}
.nav-menu {
    list-style: none;
    line-height: 35px;
}
.nav-menu li {
    padding-left: 24px;
    display: inline-block;
}
/* background */
.jumbotron {
    height: 500px;
    background-image: url('../img/jumbotron.png');
    background-color: #FFF4EF;
    background-position: bottom right;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.green-layer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 2px solid #33475B;
    border-bottom: 2px solid #33475B;
}
.heading-tron {
    height: 100%;
    width: 550px;
    padding-top: 56px;
    position: absolute;
    top: 0;
    left: 15%;
}
/* main gray cards */
.gray-cards {
    padding: 40px 0;
}
.cube-card {
    width: 60%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
}
.cube-card img {
    width: 25%;
}

/*learn more card horizontal*/

.learn-more-card {
    padding: 56px 0;
    margin-bottom: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.book-cta {
    height: 200px;
    width: 30%;
    /* margin: auto; */
    text-align: center;
}
.book-img {
    width:50%;
}

.disp-inline,
.disp-inline p{
    display: inline-block;
}

/*float right details book card*/
.learn-more-details {
    padding-right: 20%;
    /* position: relative; */
}
.orange-check-list::before,
.orange-check p::before {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    color: #fff;
    content:"\2713";
    background-color: #FE775A;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    font-weight: 700;
}

/* .details-hr {  
    width: 240px;
    color: #33475B;
    position: absolute;
    top: 70%;
    right: 20%;
}*/

.line::after {
    background-color: #33475B;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
    left: 16px;
    margin-right: -50%;
  }
  .line-horiz::after {
    background-color: #33475B;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 100%;
    top: 32px;
    margin-right: -50%;
  }

  /* pricing area */
  .item1 {
      
      background-color: #fff;
      width: 30%; /* solo margine lft e rgt alla carta al centro*/
      padding: 16px 24px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
  .img-box img{
      height: 100px;
      
  }
  .item2 {
      margin: 0 5%;
  }

  /* background with gradient and table */

.bg-gradient {
    padding: 56px 0;
    background: linear-gradient(90deg, #00A9B8, #00B9A9);
}

    .graident-table {
        width: 100%;
        border-collapse: collapse;
    }
    td p.small-txt {
        margin-bottom: 32px;
    }
    td {
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    td:last-child {
        border-right: none;
    }
    .row-two {
        padding-top: 32px;
        border-bottom: none;
    }
/* close table*/

/* 60% width area - customers */

.customers {
    padding: 48px 0; /*FORSE DA AGGIUNGERE TOP*/
}
.number64500 {
    width: 25%;
}
.logos-table {
    width: 60%;
    padding-top: 12px;
}

.logos-table tr td img {
    width: 80%;
}
.testimonial {
    padding: 40px 0;
}

/* footer */

.heading-list {
    font-size: 15px;
    font-weight: 800;
}

.li-foot-lang {
    font-size: 14px;
    font-weight: 600;
}